body {
    height: 100vh; /* Ensure it covers the full viewport height */
    background: linear-gradient(180deg, 
        #fa9aff 0%,   
        #f69bfa 10%,    /* Color base */
        #fcc6ff 33%,   /* Primer paso intermedio */
        #fed2ff 90%,   /* Segundo paso intermedio */
        #ffffff 100%   /* Blanco final */
    );
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

#no-button {
    margin: 0 10px;
    color: white;
    background-color: red;
    height: 40px !important;
    width: auto;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px; 
    p {
        margin: 0;
        object-fit: contain;
    }
}

#yes-button {
    margin: 0 10px;
    color: white;
    border: none;
    background-color: rgb(89, 173, 114);
    cursor: pointer;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px; 
    p {
        margin: 0;
        object-fit: contain;
    }
}
#question-heading {
    font-family: 'Chewy', cursive;
}
/*corazones animados*/
#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* No bloquea clics */
    overflow: hidden; /* Evitar que los corazones se salgan */
}

.heart {
    position: absolute;
    color: orange; /* Color del corazón */
    font-size: 20px; /* Tamaño base */
    opacity: 0.8;
    user-select: none;
}

/* Animación de rebote de los corazones */
@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(50vw, 50vh);
    }
}

/* Hacer responsive para móviles */
@media (max-width: 768px) {
    .heart {
        font-size: 15px; /* Reducir el tamaño de los corazones en móviles */
    }

    /* Ajustar el contenedor para que los corazones no se salgan */
    #hearts-container {
        width: 100%;
        height: 100%;
    }
    
    body {
        padding: 0 20px; /* Añadir algo de espacio en los bordes */
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
    }
}

.language-selector {
    margin-top: 30px;
    position: unset;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.language-selector label {
    margin-right: 10px;
}

.language-selector select {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.creator {
    text-decoration: none;
    color: #333;
}

.creator:visited {
    text-decoration: none;
    color: #333;
}

.creator:hover {
    text-decoration: underline;
    color: #555;
}

/* CSS For Mobile */
@media (max-width: 768px) {
    .language-selector {
        position: unset;
        margin-top: 30px;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}